/* screen sm, md - mobile */
@media only screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
  .both-sidebars {
    display: none;
  }
}

/* screen lg - tablet */
@media only screen and (min-width: 769px) and (max-width: 922px) {
  .both-sidebars {
    display: none;
  }
  .row {
    flex-wrap: wrap;
  }
}
